.app-container {
text-align: center;

}
.pokemon-container {
  /* border: 2px solid blue; */
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4 ,auto);
  justify-items: center;
}
.cards {
  /* border: 2px solid red; */
 text-align: center;
  width: 15rem;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.load-more {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 900px)  {
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(2 ,auto);
    justify-items: center;
  }
}